.auth_page{
    width: 100%;
    min-height: 100vh;
    background: #fdfdfd;
    position: relative;
}

.auth_page form{
    background-image: linear-gradient(to bottom right, rgb(244, 162, 255), rgb(246, 255, 125));
    max-width: 400px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px #888888;
    padding: 50px 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
