/*-----------Status---------*/
.status{
    background: white;
    box-shadow:  0 0 10px #ddd;
    padding: 20px;
    border-radius: 5px;
}

.status .statusBtn{
    background: #f1f1f1;
    border: none;
    outline: none;
    border-radius: 30px;
    color: #555;
    padding: 0 10px;
    text-align: left;
    margin-left: 10px;
}

.status .statusBtn:hover{
    background: #ddd;
}
/*-----Posts ---------------*/
.posts .card{
    box-shadow: 0 0 15px #ddd;
}

/*--------------Post Card HEader --------------*/
.posts .card_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 15px 25px;
}

.posts .card_header .card_name{
    transform: translateY(3px);
}

.posts .card_header .dropdown_menu{
    position: absolute;
    left: inherit !important;
    right: 0;
}

.posts .card_header .dropdown_item{
    display: flex;
    margin: 5px 0;
}
#moreLink:hover{
    background: #ddd;
    padding: 5px;
    border-radius: 50%;
}

/*----------Post Card Body ------------------*/
.posts .card_body_content{
    padding: 0 25px;
    margin-top: -10px;
    margin-bottom: 10px;
}

.posts .card_body_content .readMore{
    color: rgb(23, 162, 255);
    cursor: pointer;
}

/*----------Post Card Footer ------------------*/
.posts .card_icon_menu{
    display:flex;
    justify-content: space-between;
    padding: 0 15px;
    cursor: pointer;
}

.posts .card_icon_menu i{
    font-size: 30px;
    margin: 10px;
}

.posts .card_icon_menu img{
    width: 30px;
    height: 30px;
    transform: translate(5px,-6px);
}