/* ---------- Info -----------*/
.info{
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 20px 10px;
}

.info_container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.info_content{
    min-width: 250px;
    max-width: 550px;
    width: 100%;
    flex: 1;
    opacity: 0.8;
    margin: 0 15px;
}

.info_content_title{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.info_content_title h2{
    font-size: 2rem;
    font-weight: 400;
    transform: translateY(4px);
    flex: 3;
}

.info_content_title button{
    flex: 2;
}

.info_container .follow_btn{
    color: teal;
    cursor: pointer;
}

.info_container .follow_btn span:hover{
    text-decoration: underline;
}

/*--------------Edit Profile-------------*/
.edit_profile{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #0008;
    z-index: 9;
    overflow: auto;
}
.edit_profile form{
    max-width: 450px;
    width: 100%;
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
}

.btn_close{
    float: right;
    cursor: pointer;
}

.edit_profile .info_avatar{
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    margin: 15px auto;
    border: 1px solid violet;
    cursor: pointer;
}

.edit_profile .info_avatar img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.edit_profile  .info_avatar span{
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 50%;
    text-align: center;
    color: blue;
    transition: 0.3s ease-in-out;
    background: rgba(96, 96, 96, 0.333) ;
}

.edit_profile .info_avatar:hover span{
    bottom: -15%;
}

.edit_profile  .info_avatar #file_up{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
}

::-webkit-file-upload-button{
    cursor: pointer;
}

/*-------Followers------*/
.follow{
    position: fixed;
    top: 0;
    left: 0;
    background: #0008;
    width: 100%;
    height: 100vh;
    z-index: 4;
}

.follow_box{
    width: 350px;
    height: 600px;
    border-radius: 10px;
    background: white;
    padding: 20px 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: auto;
}

.follow_box .close{
    position: absolute;
    top: 0;
    right: 10px;
    cursor: pointer;
    font-size: 40px;
    color:rgba(148, 148, 148, 0.333)
}
.follow_box .close:hover{
    color:rgb(255, 86, 94);
}